Label {
    font-size: 16;
}

Label.lnk {
    color: #1e69f5;
    text-decoration: underline;
}
Page {
    background-color: #ffffff;
  }
  .action-image {
    width: 22;
    height: 22;
    vertical-align: center;
}


.action-bar-title {
    margin-right: 30;
}