<ActionBar class="action-bar">
    <GridLayout width="100%" horizontalAlignment="left" columns="auto, *" rows="auto">
        <Image src="res://back" class="action-image"  (tap)="goBack()"></Image>
        <Label col="1" class="action-bar-title text-center" text="{{'changepassword.title' | translate}}"></Label>
    </GridLayout>
</ActionBar>


<StackLayout class="page"  height="100%" width="100%">
    <DockLayout height="100%" stretchLastChild="true">
        <StackLayout dock="bottom" class="m-b-30">
            <Button text="{{'changepassword.submit' | translate}}" class="submit-button" (tap)="submit()"></Button>
        </StackLayout>
        <StackLayout dock="top">
            <TextField  hint="{{ 'changepassword.crrpasshint' | translate}}" secure="true" [(ngModel)]="crrPassword" class="m-t-30"></TextField>
            <TextField  hint="{{ 'changepassword.passhint' | translate}}" secure="true" [(ngModel)]="password"></TextField>
            <TextField  hint="{{ 'changepassword.confirmhint' | translate}}" secure="true" [(ngModel)]="confirmPassword"></TextField>
            <StackLayout class="error" orientation="horizontal" visibility="{{ hasError? 'visible': 'collapsed' }}">
                <Label text="&#xf057;" class="icon body"></Label>
                <Label [text]="errorTxt" class="body" textWrap="true"></Label>
            </StackLayout>
        </StackLayout>
    </DockLayout>
</StackLayout>