<ActionBar class="action-bar">
    <NavigationButton  icon="res://back" (tap)="goBack()" *ngIf="isMainVisible"></NavigationButton>
    <Label class="action-bar-title" text="{{'transactionpreview.title' | translate}}"></Label>
</ActionBar>

<AbsoluteLayout>
    <GridLayout columns="*" rows="*" height="100%" width="100%">
        <ActivityIndicator dock="top" *ngIf="!isTransactionDataLoaded" busy="true" width="100" height="100" class="activity-indicator" horizontalAlignment="center" verticalAlignment="center"></ActivityIndicator>
    </GridLayout>
<DockLayout *ngIf="isTransactionDataLoaded" stretchLastChild="true"  height="100%" width="100%">
    <GridLayout columns="*, *" rows="auto" class="m-x-20 m-b-20"  dock="bottom" *ngIf="isMainVisible">
        <Button col="0" [colSpan]="hasError || isExpired? '2' : '1'" text="{{'transactionpreview.cancel' | translate}}"  class="link m-r-10" (tap)="onCancel()"></Button>
        <Button col="1" text="{{'transactionpreview.submit' | translate}}" class="submit-button m-l-10" (tap)="onSubmit()" *ngIf="!hasError && !isExpired" ></Button>
    </GridLayout>
    <ScrollView dock="top" orientation="vertical" >
        <StackLayout>
            <StackLayout class="page">
                <GridLayout columns="auto, *, auto" rows="auto, auto" class="m-t-25" >
                    <Label class="h3" [text]="('transactionpreview.sendto' | translate)" textWrap="true"></Label>
                    <Label col="1" *ngIf="isValidTransaction" class="h3 text-right" [text]="transaction?.name" textWrap="true"></Label>
                    <Label col="2" *ngIf="isValidTransaction" class="icon-s p-l-10 p-t-5 text-right" [class.blue]="tip" text="&#xf05a;" (tap)="nameTooltip()" textWrap="true"></Label>
                    <Label col="0" row="1" colSpan="3" *ngIf="tip"  class="tip p-t-20" text="{{'transactionpreview.nameexplain' | translate}}" textWrap="true"></Label>
                </GridLayout>
                
                <GridLayout columns="auto, *" rows="auto, auto" class="tran-data m-t-10" >
                    <Image col="0" [src]="avatar"  stretch="none" horizontalAlignment="center" verticalAlignment="center" class="img-circle avatar"></Image>
                    <GridLayout col="1" columns="*, auto" rows="auto" class="address-copy">
                        <Label col="0" class="address" [text]="transaction?.to" ></Label>
                    </GridLayout>
                    <Label col="0" row="1" colSpan="2" class="expire" [class.red]="isExpiring" [text]="expireIndication" ></Label>
                </GridLayout>
            </StackLayout>
            <StackLayout class="hr"></StackLayout>
            <StackLayout class="page">
                <Label class="h3" text="{{'transactionpreview.amount' | translate}}" textWrap="true"></Label>
                <GridLayout columns="*, *" rows="auto, auto, auto" class="price">
                    <Label class="blue" col="0" [text]="(price | number:'1.02') + ' ' + ('transactionpreview.pma' | translate)" textWrap="true"></Label>
                    <Label class="text-right" col="1" [text]="((price*(ethRate/pmaRate)) | number:'1.0-2') + ' ' + currencySymbol" textWrap="true"></Label>
                    <Label col="0" row="2" colSpan="2" *ngIf="showInvalidAmmount" class="error" [text]="('createtransaction.errors.badamount' | translate)" textWrap="true" ></Label>
                </GridLayout>
                <Label class="balance text-left" col="1" [text]="('transactionpreview.currentbalance' | translate) + (tokenBalance | number:'1.05') + ('strings.crypto.pma' | translate)" textWrap="true"></Label>
                <Gas    [transactionPrice]="transactionPrice" [gas]="gas"
                        [ethRate]="ethRate" [gasPrice]="gasPrice" [balance]="balance"
                        [currencySymbol]="currencySymbol" (change)="onGasChenged($event)"></Gas>
                <Label  *ngIf="showIvalidGas" class="error" [text]="('createtransaction.errors.badgas' | translate)" textWrap="true" ></Label>
            </StackLayout>
        </StackLayout>
    </ScrollView>       
</DockLayout>
</AbsoluteLayout>